<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default_layout}">
<div layout:fragment="content">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">기타 작업</h1>
	</div>
	<!-- Datas -->
	<input type="text" id="extra_work_id" th:value="${#sets.isEmpty(extra_work)?extraWorkId:extra_work.extraWorkId}" style="display:none;"/>
	<input type="text" id="isAdd" th:value="${#sets.isEmpty(extra_work)?true:false}" style="display:none;"/>

	<input type="text" style="display:none;" id="selected_from_date" th:value="${#sets.isEmpty(extra_work)?'':#temporals.format(extra_work.fromDate, 'yyyy-MM-dd')}" readonly/>
	<input type="text" style="display:none;" id="selected_to_date" th:value="${#sets.isEmpty(extra_work)?'':#temporals.format(extra_work.toDate, 'yyyy-MM-dd')}" readonly/>

	<!-- Content Row -->
	<div class="row">
		<div class="col-lg-6 col-xl-6 col-md-6 mb-6">
			<div class="align-items-center justify-content-between mb-4">
				<div class="col mr-2">
					<nav class="navbar navbar-expand navbar-light bg-light mb-4">
						<a class="navbar-brand" href="#">호선</a>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle station-parent-bar" href="#" th:text="${#sets.isEmpty(extra_work)? '선택' : extra_work.lineName}" th:data-value="${#sets.isEmpty(extra_work)? '' : extra_work.lineId}"
								   id="line-parent"  value="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									선택
								</a>
								<div class="dropdown-menu dropdown-menu-right animated--grow-in" id="line-child-group" aria-labelledby="navbarDropdown">

								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xl-6 col-md-6 mb-6">
			<div class="align-items-center justify-content-between mb-4">
				<div class="col mr-2">
					<nav class="navbar navbar-expand navbar-light bg-light mb-4">
						<a class="navbar-brand" href="#">역 명</a>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" th:text="${#sets.isEmpty(extra_work)? '선택' : extra_work.stationName}" th:data-value="${#sets.isEmpty(extra_work)? '' : extra_work.stationId}" id="station-parent" readonly="true" value="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									선택
								</a>
								<div class="dropdown-menu dropdown-menu-right animated--grow-in" id="station-child-group" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#">호선부터 선택해주세요</a>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- Content Row -->
	<div class="row">
		<div class="col-lg-6 col-xl-6 col-md-6 mb-6">
			<div class="align-items-center justify-content-between mb-4">
				<div class="col mr-2">
					<nav class="navbar navbar-expand navbar-light bg-light mb-4">
						<a class="navbar-brand" href="#">매장 명</a>
						<div>
							<input th:if="${#sets.isEmpty(extra_work)}" type="checkbox" id="isAllShop" value="1" checked="checked" />
							<input th:if="${not #sets.isEmpty(extra_work)}" type="checkbox" id="isAllShop" value="1" th:checked="${extra_work.isAllShop?'checked':''}" /> 전체
						</div>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" th:text="${#sets.isEmpty(extra_work)? '선택' : extra_work.shopName}" th:data-value="${#sets.isEmpty(extra_work)? '' : extra_work.shopId}" id="shop-parent" role="button" value="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									선택
								</a>
								<div class="dropdown-menu dropdown-menu-right animated--grow-in" id="shop-child-group" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#">역부터 선택해주세요</a>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xl-6 col-md-6 mb-6">
			<div class="align-items-center justify-content-between mb-4">
				<div class="col mr-2">
					<nav class="navbar navbar-expand navbar-light bg-light mb-4">
						<a class="navbar-brand" href="#">기간</a>
						<div class="navbar-nav ml-auto">
							<div class="nav-item dropdown">

								<div class="datepicker">
									<input type="text" class="selected-check-date" id="from-datepicker-input">
									~
									<input type="text" class="selected-check-date" id="to-datepicker-input">
								</div>
							</div>
						</div>
					</nav>

				</div>
			</div>
		</div>
	</div>
	<!-- Content Row -->
	<div class="row">
		<div class="col-lg-12 col-xl-12 col-md-12 mb-12">
			<div class="align-items-center justify-content-between mb-4">
				<div class="col mr-2">
					<h5 class="h5 text-gray-800">제목</h5>
					<input class="form-control" type="text" id="title_area" placeholder="제목을 입력해 주세요." th:value="${#sets.isEmpty(extra_work)?'':extra_work.title}"></input>
				</div>
			</div>
		</div>
	</div>
	<!-- Content Row -->
	<div class="row">
		<div class="col-lg-12 col-xl-12 col-md-12 mb-12">
			<div class="align-items-center justify-content-between mb-4">
				<div class="col mr-2">
					<h5 class="h5 text-gray-800">상세 내용</h5>
					<textarea class="form-control" id="detail_area" rows="10" style="width:100%;resize:none;" placeholder="내용을 입력해 주세요." th:text="${#sets.isEmpty(extra_work)?'':extra_work.detail}"></textarea>

				</div>
			</div>
		</div>
	</div>
	<!-- Content Row -->
	<div class="row">
		<div class="col-lg-12 col-xl-12 col-md-12 mb-12">
			<div class="align-items-center justify-content-between mb-4">
				<div class="col mr-2">
					<h5 class="h5 text-gray-800">파일 첨부
					</h5>
					<!-- We'll transform this input into a pond -->
					<input type="file" class="filepond" name="filepond"/>
				</div>
			</div>
		</div>
	</div>
	<!-- Content Row -->
	<div class="row">
		<div class="col-lg-6 col-xl-6 col-md-6 mb-6">
			<div class="align-items-center justify-content-between mb-4">
				<div class="col mr-2">
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xl-6 col-md-6 mb-6">
			<div class="align-items-center justify-content-between mb-4">
				<div class="col mr-2">

					<a th:if="${#sets.isEmpty(extraWork)}" href="javaScript:checkData()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="display: block !important;"><i
							class="fas fa-save fa-sm"></i>&nbsp저장</a>
					<a th:unless="${#sets.isEmpty(extraWork)}" href="javaScript:checkData()" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm" style="display: block !important;"><i
							class="fas fa-save fa-sm"></i>&nbsp수정</a>
				</div>
			</div>
		</div>

	</div>
	<script class="code-js">
		document.addEventListener("DOMContentLoaded", function() {
			// Date range picker init START
			var selectedFromDate = new Date();
			var selectedToDate =  new Date();
			if(document.getElementById("selected_from_date").value) {
				selectedFromDate = new Date(document.getElementById("selected_from_date").value);
			}
			if(document.getElementById("selected_to_date").value) {
				selectedToDate = new Date(document.getElementById("selected_to_date").value);
			}
			var today = new Date();

			flatpickr(document.getElementById("from-datepicker-input"),{
				dateFormat: "Y-m-d",
				defaultDate: selectedFromDate,
			});

			flatpickr(document.getElementById("to-datepicker-input"),{
				dateFormat: "Y-m-d",
				defaultDate: selectedToDate,
			});

			// Date range picker init END
			/**
			 * ====================
			 *      File Pond
			 * ====================
			 */
			//File Uploader (Filepond.js) set option Start
			FilePond.setOptions({
				server: {
					process: (fieldName, file, metadata, load, error, progress, abort, transfer, options) => {
						// fieldName is the name of the input field
						// file is the actual file object to send
						const formData = new FormData();
						formData.append("document_id", document.getElementById("extra_work_id").value);
						formData.append("file", file);
						const request = new XMLHttpRequest();
						request.open('POST', '/file/upload');

						// Should call the progress method to update the progress to 100% before calling load
						// Setting computable to false switches the loading indicator to infinite mode
						request.upload.onprogress = (e) => {
							progress(e.lengthComputable, e.loaded, e.total);
						};

						// Should call the load method when done and pass the returned server file id
						// this server file id is then used later on when reverting or restoring a file
						// so your server knows which file to return without exposing that info to the client
						request.onload = function () {
							if (request.status >= 200 && request.status < 300) {
								// the load method accepts either a string (id) or an object
								var response = JSON.parse(request.response);
								var file_id = response.data;
								file.id = file_id;
								load(request.responseText);
							} else {
								// Can call the error method if something is wrong, should exit after
								error('oh no');
							}
						};

						request.send(formData);

						// Should expose an abort method so the request can be cancelled
						return {
							abort: () => {
								// This function is entered if the user has tapped the cancel button
								request.abort();

								// Let FilePond know the request has been cancelled
								abort();
							},
						};
					},remove: (processResult, load, error) => {
						// 'source' is the path of the file and should be sent to a server endpoint via http

						console.log(processResult);
						console.log(processResult.split('/')[3].trim())
						const formData = new FormData();
						formData.append("document_id", document.getElementById("extra_work_id").value);
						formData.append("file_id", processResult.split('/')[3].trim());
						const request = new XMLHttpRequest();
						request.open('POST', '/file/delete');
						// Should call the progress method to update the progress to 100% before calling load
						// Setting computable to false switches the loading indicator to infinite mode

						// Should call the load method when done and pass the returned server file id
						// this server file id is then used later on when reverting or restoring a file
						// so your server knows which file to return without exposing that info to the client
						request.onload = function () {
							if (request.status >= 200 && request.status < 300) {
								// the load method accepts either a string (id) or an object
								var response = JSON.parse(request.response);
								alert(response.data);
								console.log(response);

								load(request.responseText);
							} else {
								// Can call the error method if something is wrong, should exit after
								error('oh no');
							}
						};

						request.send(formData);

						// Should expose an abort method so the request can be cancelled
						return {
							abort: () => {
								// This function is entered if the user has tapped the cancel button
								request.abort();

								// Let FilePond know the request has been cancelled
								abort();
							},
						};
						// call the load method before ending the function
					},remove: (processResult, load, error) => {
						// 'source' is the path of the file and should be sent to a server endpoint via http

						console.log(processResult);
						console.log(processResult.split('/')[3].trim())
						const formData = new FormData();
						formData.append("document_id", document.getElementById("extra_work_id").value);
						formData.append("file_id", processResult.split('/')[3].trim());
						const request = new XMLHttpRequest();
						request.open('POST', '/file/delete');
						// Should call the progress method to update the progress to 100% before calling load
						// Setting computable to false switches the loading indicator to infinite mode

						// Should call the load method when done and pass the returned server file id
						// this server file id is then used later on when reverting or restoring a file
						// so your server knows which file to return without exposing that info to the client
						request.onload = function () {
							if (request.status >= 200 && request.status < 300) {
								// the load method accepts either a string (id) or an object
								var response = JSON.parse(request.response);
								alert(response.data);
								console.log(response);

								load(request.responseText);
							} else {
								// Can call the error method if something is wrong, should exit after
								error('oh no');
							}
						};

						request.send(formData);

						// Should expose an abort method so the request can be cancelled
						return {
							abort: () => {
								// This function is entered if the user has tapped the cancel button
								request.abort();

								// Let FilePond know the request has been cancelled
								abort();
							},
						};
						// call the load method before ending the function
					}
				}
				// 파일 올리는 즉시 업로드 끄기
				, instantUpload: false
				, allowImageExifOrientation: true
				, allowImagePreview: true
				, acceptedFileTypes: [
					'image/*',
					'application/pdf',
					'application/x-zip-compressed',
					'text/plain',
					'application/msword',
					'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
					'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
					'application/vnd.ms-powerpoint',
				]
				, allowProcess: false
				, maxParallelUploads: 10 // 한번에 올릴 수 있는 파일 개수
				, maxFiles: 10
				, maxTotalFileSize: "200MB"
				, allowMultiple: true
				, allowRemove: true
			});

			/*[GET] station line list*/
			const request = new XMLHttpRequest();
			request.open('get', '/code/all_line');
			request.onload = function () {
				if (request.status >= 200 && request.status < 300) {
					// the load method accepts either a string (id) or an object
					var response = JSON.parse(request.response);
					var code = response.status;
					var childGroup = document.getElementById("line-child-group");
					childGroup.innerHTML = "";
					//<a class="dropdown-item line-child" href="#">Action</a>
					response.data.forEach(function (e) {
						console.log(e);
						var newChild = document.createElement("a");
						newChild.classList.add("dropdown-item");
						newChild.classList.add("line-child");
						newChild.href="#";
						newChild.setAttribute("data-value",e.id)
						newChild.innerText=e.name;
						newChild.onclick = function(){
							var lineParent = document.getElementById("line-parent");
							lineParent.setAttribute("data-value",this.getAttribute("data-value"));
							lineParent.innerHTML = this.innerHTML;
							getStationList(this.getAttribute("data-value"));

							document.getElementById("station-parent").removeAttribute("data-value");
							document.getElementById("station-parent").innerHTML = "선택";
							document.getElementById("shop-parent").removeAttribute("data-value");
							document.getElementById("shop-parent").innerHTML = "선택";
						}
						childGroup.append(newChild);
					})

				} else {
					alert("정상수신실패:"+request.status);
				}

			}
			request.send();

			/*EDIT PAGE setting*/
			var lineParent = document.getElementById("line-parent");
			var lineParentText = lineParent.innerText;
			var lineParentValue= lineParent.getAttribute("data-value");
			var stationParent = document.getElementById("station-parent");
			var stationParentText = stationParent.innerText;
			var stationParentValue= stationParent.getAttribute("data-value");
			var shopParent = document.getElementById("shop-parent");
			var shopParentText = shopParent.innerText;
			var shopParentValue= shopParent.getAttribute("data-value");
			if(lineParentValue){
				getStationList(lineParentValue);
				stationParent.innerText = stationParentText;
				stationParent.setAttribute("data-value",stationParentValue);
				if(stationParentValue){
					getShopList(stationParentValue);
					shopParent.innerText = shopParentText;
					shopParent.setAttribute("data-value",shopParentValue);

				}
			}
		});
		// Select the file input and use
		// create() to turn it into a pond
		// filepond js 만들기
		FilePond.registerPlugin(FilePondPluginImagePreview,FilePondPluginImageExifOrientation);
		var fileUploader = FilePond.create(document.querySelector('.filepond'));
		// 등록된 파일 불러오는곳
		document.addEventListener('FilePond:init', function () {
			const documentId = document.getElementById("extra_work_id").value;
			const request = new XMLHttpRequest();
			request.open('GET', '/file/selectDocumentFiles?documentId=' + documentId);

			// Should call the progress method to update the progress to 100% before calling load
			// Setting computable to false switches the loading indicator to infinite mode
			request.upload.onprogress = (e) => {
				progress(e.lengthComputable, e.loaded, e.total);
			};

			// Should call the load method when done and pass the returned server file id
			// this server file id is then used later on when reverting or restoring a file
			// so your server knows which file to return without exposing that info to the client


			request.onload = function () {
				if (request.status >= 200 && request.status < 300) {
					// the load method accepts either a string (id) or an object
					var response = JSON.parse(request.response);
					var code = response.status;
					var files = response.data;
					console.log(response);
					console.log(files.length);
					var file;
					for (var j = 0; j < files.length; j++) {
						console.log(files[j]);

						fileUploader.addFile("/file/filedownload/"+files[j].fileId);
						// 보여지는 파일 이름
						fileUploader.getFiles()[0].file.name = files[j].fileOriginalName;
						fileUploader.getFiles()[0].file.source = files[j].base64;
						// 이미 업로드 된 파일 재업로드 안되도록
						fileUploader.getFiles()[0].origin = 3;

						console.log(fileUploader.getFiles());
					}

				} else {
					// Can call the error method if something is wrong, should exit after
					alert( '저장된 파일을 불러오는데 실패하였습니다.');
				}
			};

			request.send();

		}, {once: true});

		function checkData(){
			let title = document.getElementById("title_area").value;
			let detail = document.getElementById("detail_area").value;
			let stationId = document.getElementById("station-parent").getAttribute("data-value");
			let shopId = document.getElementById("shop-parent").getAttribute("data-value");
			let isAllShop = document.getElementById("isAllShop").checked;
			let selectedFromDate = document.getElementById("from-datepicker-input").value;
			let selectedToDate = document.getElementById("to-datepicker-input").value;
			let isAdd = document.getElementById("isAdd").value === 'true';
			if(title){
				if(detail) {
					if(stationId) {
						if (selectedFromDate) {
							if (selectedToDate) {
								if(isAllShop){
									fileUploader.processFiles().then(() => {
										if(isAdd) writeExtraWork();
										else editExtraWork();
									});
								}else{
									if(shopId){
										fileUploader.processFiles().then(() => {
											if(isAdd) writeExtraWork();
											else editExtraWork();
										});
									}else{
										Swal.fire({
											position: "center",
											icon: "error",
											title: "가게를 선택해주세요",
											showConfirmButton: false,
											timer: 1500
										});
									}
								}
							}else{
								Swal.fire({
									position: "center",
									icon: "error",
									title: "끝 날짜를 선택해주세요",
									showConfirmButton: false,
									timer: 1500
								});
							}
						}else{
							Swal.fire({
								position: "center",
								icon: "error",
								title: "시작 날짜를 선택해주세요",
								showConfirmButton: false,
								timer: 1500
							});
						}
					}else{
						Swal.fire({
							position: "center",
							icon: "error",
							title: "역을 선택해주세요",
							showConfirmButton: false,
							timer: 1500
						});
					}
				}else{
					Swal.fire({
						position: "center",
						icon: "error",
						title: "내용을 입력해주세요",
						showConfirmButton: false,
						timer: 1500
					});
				}
			}else{
				Swal.fire({
					position: "center",
					icon: "error",
					title: "제목을 입력해주세요",
					showConfirmButton: false,
					timer: 1500
				}).then((result) => {
					if(result.dismiss === Swal.DismissReason.timer){
						location.reload();
					}
				});
			}
		}

		function writeExtraWork(){
			let extraWorkId = document.getElementById("extra_work_id").value;
			let title = document.getElementById("title_area").value;
			let detail = document.getElementById("detail_area").value;
			let selectedFromDate = document.getElementById("from-datepicker-input").value;
			let selectedToDate = document.getElementById("to-datepicker-input").value;

			let stationId = document.getElementById("station-parent").getAttribute("data-value");
			let shopId = document.getElementById("shop-parent").getAttribute("data-value");
			let isAllShopBox = document.getElementById("isAllShop");
			let isAllShop = isAllShopBox.checked;

			const formData = new FormData();
			formData.append("extraWorkId", extraWorkId);
			formData.append("title", title);
			formData.append("detail", detail);
			formData.append("selectedFromDate", selectedFromDate);
			formData.append("selectedToDate", selectedToDate);
			formData.append("stationId", stationId);
			formData.append("shopId", shopId);
			if(isAllShop){
				formData.append("isAllShop", 1);
			}else{
				formData.append("isAllShop", 0);
			}

			/*[PUT] PUT DB single Inspection selection */
			const request = new XMLHttpRequest();
			request.open('post', '/works/extra_work/extra_work_write');
			request.onload = function () {
				if (request.status >= 200 && request.status < 300) {
					// the load method accepts either a string (id) or an object
					var response = JSON.parse(request.response);
					Swal.fire({
						position: "center",
						icon: "success",
						title: "저장 성공",
						showConfirmButton: false,
						timer: 1500
					}).then((result) => {
						if(result.dismiss === Swal.DismissReason.timer){
							location.href="/works/extra_work/extra_work_view?extraWorkId="+extraWorkId;
						}
					});

				} else {
					Swal.fire({
						position: "center",
						icon: "error",
						title: "저장 실패",
						showConfirmButton: false,
						timer: 1500
					}).then((result) => {
						if(result.dismiss === Swal.DismissReason.timer){
							location.reload();
						}
					});
				}

			}
			request.send(formData);
		}


		function editExtraWork(){

			let extraWorkId = document.getElementById("extra_work_id").value;
			let title = document.getElementById("title_area").value;
			let detail = document.getElementById("detail_area").value;
			let selectedFromDate = document.getElementById("from-datepicker-input").value;
			let selectedToDate = document.getElementById("to-datepicker-input").value;

			let stationId = document.getElementById("station-parent").getAttribute("data-value");
			let shopId = document.getElementById("shop-parent").getAttribute("data-value");
			let isAllShopBox = document.getElementById("isAllShop");
			let isAllShop = isAllShopBox.checked;

			const formData = new FormData();
			formData.append("extraWorkId", extraWorkId);
			formData.append("title", title);
			formData.append("detail", detail);
			formData.append("selectedFromDate", selectedFromDate);
			formData.append("selectedToDate", selectedToDate);
			formData.append("stationId", stationId);
			formData.append("shopId", shopId);
			console.log(isAllShop);
			if(isAllShop){
				formData.append("isAllShop", 1);
			}else{
				formData.append("isAllShop", 0);
			}

			/*[PUT] PUT DB single Inspection selection */
			const request = new XMLHttpRequest();
			request.open('post', '/works/extra_work/extra_work_edit');
			request.onload = function () {
				if (request.status >= 200 && request.status < 300) {
					// the load method accepts either a string (id) or an object
					var response = JSON.parse(request.response);
					Swal.fire({
						position: "center",
						icon: "success",
						title: "수정 성공",
						showConfirmButton: false,
						timer: 1500
					}).then((result) => {
						if(result.dismiss === Swal.DismissReason.timer){
							location.href="/works/extra_work/extra_work_view?extraWorkId="+extraWorkId;
						}
					});

				} else {
					Swal.fire({
						position: "center",
						icon: "error",
						title: "수정 실패",
						showConfirmButton: false,
						timer: 1500
					}).then((result) => {
						if(result.dismiss === Swal.DismissReason.timer){
							location.reload();
						}
					});
				}

			}
			request.send(formData);
		}

		function getStationList(lineId){
			/*[GET] station list*/
			const request = new XMLHttpRequest();
			request.open('get', '/code/stations_on_line?line_id='+lineId);
			request.onload = function () {
				if (request.status >= 200 && request.status < 300) {
					// the load method accepts either a string (id) or an object
					var response = JSON.parse(request.response);
					var childGroup = document.getElementById("station-child-group");

					childGroup.innerHTML = "";
					//<a class="dropdown-item line-child" href="#">Action</a>
					response.data.forEach(function (e) {
						console.log(e);
						var newChild = document.createElement("a");
						newChild.classList.add("dropdown-item");
						newChild.classList.add("station-child");
						newChild.href="#";
						newChild.setAttribute("data-value",e.id)
						newChild.innerText=e.name;
						newChild.onclick = function(){
							var stationParent = document.getElementById("station-parent");
							stationParent.setAttribute("data-value",this.getAttribute("data-value"));
							stationParent.innerHTML = this.innerHTML;
							getShopList(this.getAttribute("data-value"));


							document.getElementById("shop-parent").removeAttribute("data-value");
							document.getElementById("shop-parent").innerHTML = "선택";
						}
						childGroup.append(newChild);
					})

				} else {
					Swal.fire({
						position: "center",
						icon: "error",
						title: "역 리스트 로딩 실패",
						showConfirmButton: false,
						timer: 1500
					}).then((result) => {
						if(result.dismiss === Swal.DismissReason.timer){
							location.reload();
						}
					});
				}

			}
			request.send();
		}
		function getShopList(stationId){
			/*[GET] station list*/
			const request = new XMLHttpRequest();
			request.open('get', '/code/shops_in_station?station_id='+stationId);
			request.onload = function () {
				if (request.status >= 200 && request.status < 300) {
					// the load method accepts either a string (id) or an object
					var response = JSON.parse(request.response);
					console.log(response);
					var childGroup = document.getElementById("shop-child-group");


					childGroup.innerHTML = "";
					//<a class="dropdown-item line-child" href="#">Action</a>
					response.data.forEach(function (e) {
						console.log(e);
						var newChild = document.createElement("a");
						newChild.classList.add("dropdown-item");
						newChild.classList.add("shop-child");
						newChild.href="#";
						newChild.setAttribute("data-value",e.id);
						newChild.innerText=e.name;
						newChild.onclick = function(){
							var shopParent = document.getElementById("shop-parent");
							shopParent.setAttribute("data-value",this.getAttribute("data-value"));
							shopParent.innerHTML = this.innerHTML;
							updateRecentCheck();
						}
						childGroup.append(newChild);
					})

				} else {
					Swal.fire({
						position: "center",
						icon: "error",
						title: "가게 리스트 로딩 실패",
						showConfirmButton: false,
						timer: 1500
					}).then((result) => {
						if(result.dismiss === Swal.DismissReason.timer){
							location.reload();
						}
					});
				}

			}
			request.send();
		}

	</script>


</div>
</html>