<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!--begin::Head-->
	<head th:fragment="headFragment">
	
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
		
	    <title>Facility Check</title>		
		<link rel="icon" th:href="@{/assets/img/facilityCheck.png}" type="image/x-icon">
	
	    <!-- Custom fonts for this template-->
	    <link th:href="@{/assets/external_src/bootstrap_theme/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	    <link
	        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	        rel="stylesheet">
		
			
			
			
		<!-- Bootstrap core JavaScript-->
		<script th:src="@{/assets/external_src/bootstrap_theme/vendor/jquery/jquery.min.js}"></script>
			
		<script th:src="@{/assets/external_src/bootstrap_theme/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
			
	   <!-- Core plugin JavaScript-->
	   <script th:src="@{/assets/external_src/bootstrap_theme/vendor/jquery-easing/jquery.easing.min.js}"></script>


		<!-- Flatpickr for DatePicker/Date Range-->
		<!-- https://flatpickr.js.org/ -->
		<script th:src="@{/assets/external_src/flatpickr/js/flatpickr.js}"></script>
		<link th:href="@{/assets/external_src/flatpickr/css/flatpickr.min.css}" rel="stylesheet">

	   
	   <!-- Custom scripts for all pages-->
	   <script th:src="@{/assets/external_src/bootstrap_theme/js/sb-admin-2.min.js}"></script>	   
	   <!-- Custom styles for this template-->
	   <link th:href="@{/assets/external_src/bootstrap_theme/css/sb-admin-2.min.css}" rel="stylesheet">	
	   
	   <!-- basicTable for Table function-->	   
	   <script th:src="@{/assets/external_src/basictable/js/basictable.min.js}"></script>
	   <link th:href="@{/assets/external_src/basictable/css/basictable.min.css}" rel="stylesheet">	
	   


	   <!-- Filepond for file upload-->
	   <script th:src="@{/assets/external_src/filepond/js/filepond.min.js}"></script>
		<script th:src="@{/assets/external_src/filepond/js/filepond-plugin-image-exif-orientation.js}"></script>
		<script th:src="@{/assets/external_src/filepond/js/filepond-plugin-image-preview.js}"></script>
		<script th:src="@{/assets/external_src/filepond/js/filepond-plugin-file-validate-type.js}"></script>
	   <link th:href="@{/assets/external_src/filepond/css/filepond.min.css}" rel="stylesheet">
		<link th:href="@{/assets/external_src/filepond/css/filepond-plugin-image-preview.css}" rel="stylesheet">

		<!-- SweetAlert2 -->
		<script th:src="@{/assets/external_src/sweet_alert2/js/sweetalert2.all.min.js}"></script>
		<link th:href="@{/assets/external_src/sweet_alert2/css/sweetalert2.min.css}">

		<!-- Custom CSS -->
	   <link th:href="@{/assets/css/custom_style.css}" rel="stylesheet">
	   
	</head>

</html>
