<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hans.firefighting.check.facility_check.db.mapper.MeasureMapper">
    <select id="selectMeasureList" resultType="hans.firefighting.check.facility_check.works.MeasureDTO">
        SELECT
             measure.measure_id AS measure_id
            ,measure.shop_id AS shop_id
            ,measure.measure_date AS measure_date
            ,measure.writer_id AS writer_id
            ,measure.editor_id AS editor_id
            ,measure.generate_time AS generate_time
            ,shop.shop_name AS shop_name
            ,shop.station_id AS station_id
            ,station.station_name AS station_name
            ,station.line_id AS line_id
            ,station.line_name AS line_name
            ,file.file_id AS file_id
        FROM
            measure
            JOIN
                shop
            ON
                measure.shop_id = shop.shop_id
            JOIN
                station
            ON
                shop.station_id = station.station_id
            JOIN
                file
            ON
                measure.measure_id = file.document_id

        WHERE
            measure.enabled = true
        <if test='searchDate != null'>
        AND
            #{searchDate} = measure.measure_date
        </if>
        <if test='lineId != null and !lineId.equals("")'>
        AND
            station.line_id = #{lineId}
        </if>
        <if test='stationId != null and !stationId.equals("")'>
        AND
            station.station_id = #{stationId}
        </if>
        <if test='shopId != null and !shopId.equals("")'>
        AND
            measure.shop_id = #{shopId}
        </if>
        ORDER BY generate_time DESC
        LIMIT ${startIndex}, 9;
    </select>
    <select id="countTotalMeasure">
        SELECT
            COUNT(measure_id)
        FROM
            measure
        WHERE
            measure.enabled = true;
    </select>
    <select id="selectMeasureOnDate" resultType="hans.firefighting.check.facility_check.works.MeasureDTO">
        SELECT
             measure.measure_id AS measure_id
            ,measure.shop_id AS shop_id
            ,measure.measure_date AS measure_date
            ,measure.writer_id AS writer_id
            ,measure.editor_id AS editor_id
            ,measure.generate_time AS generate_time
            ,shop.shop_name AS shop_name
            ,shop.station_id AS station_id
            ,station.station_name AS station_name
            ,station.line_id AS line_id
            ,station.line_name AS line_name
            ,file.file_id AS file_id
        FROM
            measure
            JOIN
                shop
            ON
            measure.shop_id = shop.shop_id
            JOIN
                station
            ON
                shop.station_id = station.station_id
            JOIN
                file
            ON
            measure.measure_id = file.document_id
        WHERE
            measure.measure_date = #{measureDate}
        AND
            measure.shop_id = #{shopId}
        AND
            measure.enabled = true
    </select>
    <insert id="insertMeasure">
        INSERT INTO
        measure(
             measure_id
            ,shop_id
            ,measure_date
            ,writer_id
            ,editor_id
            )
        VALUES(
             #{measureId}
            ,#{shopId}
            ,#{measureDate}
            ,#{writerId}
            ,#{editorId}
        )
    </insert>

    <delete id="deleteMeasure">
        DELETE FROM
            measure
        WHERE
            measure_id = #{measureId};
    </delete>
</mapper>