<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hans.firefighting.check.facility_check.db.mapper.NoticeMapper">
    <insert id="insertNotice">
        INSERT INTO notice(
             notice_id
            ,title
            ,detail
            ,from_date
            ,to_date
            ,writer_id
        ) VALUES(
             #{noticeId}
            ,#{title}
            ,#{detail}
            ,#{fromDate}
            ,#{toDate}
            ,#{writerId}
        );
    </insert>
    <update id="updateNotice">
        UPDATE NOTICE
        SET
             title = #{title}
            ,detail = #{detail}
            ,from_date = #{fromDate}
            ,to_date = #{toDate}
            ,edit_time = NOW()
            ,editor_id = #{editorId}
        WHERE
            notice_id = #{noticeId};
    </update>
    <select id="selectNotice" resultType="hans.firefighting.check.facility_check.notice.NoticeDTO">
        SELECT
             notice_id
            ,title
            ,detail
            ,from_date
            ,to_date
            ,writer_id
            ,(
                SELECT user_name
                FROM user
                WHERE user_id = notice.writer_id
            ) AS writer_name
            ,generate_time
            ,edit_time
        FROM
            notice
        WHERE
            enabled = true
        AND
            notice_id = #{noticeId};
    </select>
    <select id="selectNoticeList" resultType="hans.firefighting.check.facility_check.notice.NoticeDTO">
        SELECT
             notice_id
            ,title
            ,detail
            ,from_date
            ,to_date
            ,writer_id
            ,(
            SELECT user_name
            FROM user
            WHERE user_id = notice.writer_id
            ) AS writer_name
            ,generate_time
            ,edit_time
        FROM
            notice
        WHERE
            enabled = true
        <if test='searchDate != null'>
        AND
            #{searchDate} BETWEEN from_date AND to_date
        </if>
        ORDER BY generate_time DESC
        LIMIT ${startIndex}, 10;;
    </select>
    <select id="countTotalNotice">
        SELECT
            COUNT(notice_id)
        FROM
            notice
        WHERE
            enabled = true
    </select>
    <update id="deleteNotice">
        UPDATE notice
        SET
           enabled = false
          ,delete_time = NOW()
        WHERE
            notice_id = #{noticeId};
    </update>
    <select id="selectDashboardNoticeList" resultType="hans.firefighting.check.facility_check.notice.NoticeDTO">
        SELECT
             notice_id
            ,title
            ,from_date
            ,to_date
            ,writer_id
            ,(
                SELECT user_name
                FROM user
                WHERE user_id = notice.writer_id
            ) AS writer_name
            ,generate_time
            ,edit_time
        FROM
            notice
        WHERE
            CURRENT_DATE BETWEEN from_date AND to_date
        ORDER BY from_date ASC;
    </select>
</mapper>