<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hans.firefighting.check.facility_check.db.mapper.UserLogMapper">
    <insert id="insertUserLog">
        INSERT INTO
            user_log(
             log_id
            ,user_id
            ,client_ip
            ,client_agent
            ,request_page
            ,request_type
            ,result_data
            ,result_status
        )VALUES(
             #{logId}
            ,#{userId}
            ,#{clientIp}
            ,#{clientAgent}
            ,#{requestPage}
            ,#{requestType}
            ,#{resultData}
            ,#{resultStatus}
       );
    </insert>

    <select id="selectUserLogList" resultType="hans.firefighting.check.facility_check.settings.UserLogDTO">
        SELECT
             user_log.log_id AS log_id
            ,user_log.user_id AS user_id
            ,user.user_name AS user_name
            ,user_log.client_ip AS client_ip
            ,user_log.client_agent AS client_agent
            ,user_log.request_page AS request_page
            ,user_log.request_type AS request_type
            ,user_log.result_data AS result_data
            ,user_log.result_status AS result_status
            ,user_log.request_time AS request_time
        FROM
            user_log
        JOIN
            user
        ON user_log.user_id = user.user_id
        ORDER BY user_log.request_time DESC
        LIMIT ${startIndex}, 10;
    </select>


    <select id="countTotalUserLog">
        SELECT
            COUNT(log_id)
        FROM
            user_log;
    </select>
</mapper>