<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default_layout}">
<div layout:fragment="content">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">조치 시행</h1>
    </div>
    <!-- Datas -->
    <input type="text" id="issue_id" th:value="${issue.issueId}" style="display:none;"/>
    <input type="text" id="improve_id" th:value="${#sets.isEmpty(improve)?improveId:improve.improveId}" style="display:none;"/>
    <input type="text" id="isAdd" th:value="${#sets.isEmpty(improve)?true:false}" style="display:none;"/>

    <input type="text" style="display:none;" id="selected_improve_date" th:value="${#sets.isEmpty(improve)?'':#temporals.format(improve.improveDate, 'yyyy-MM-dd')}" readonly/>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-3 col-xl-3 col-md-3 mb-3">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <h5 class="h5 text-gray-800">호선</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-3 mb-3">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <span class="text-lg mb-0 bg-white table-bordered p-2 rounded" style="width:100%;" th:text="${issue.lineName}"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-3 mb-3">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <h5 class="h5 text-gray-800">역 명</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-3 mb-3">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <span class="text-lg mb-0 bg-white table-bordered p-2 rounded" style="width:100%;" th:text="${issue.stationName}"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-3 col-xl-3 col-md-3 mb-3">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <h5 class="h5 text-gray-800">가게 명</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-3 mb-3">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <span class="text-lg mb-0 bg-white table-bordered p-2 rounded" style="width:100%;" th:text="${issue.shopName}"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-3 mb-3">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <h5 class="h5 text-gray-800">요청 날짜</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-3 mb-3">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <div class="navbar-nav ml-auto">
                        <div class="nav-item dropdown">
                            <div class="navbar-nav ml-auto">
                                <div class="nav-item dropdown">
                                    <span class="text-lg mb-0 bg-white table-bordered p-2 rounded" th:text="${#temporals.format(issue.issueDate, 'yyyy-MM-dd')}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 mb-12">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="h5 text-gray-800">요청 사항</h6>
                        </div>
                        <div class="card m-3 py-3 " style="border:1px solid #e3e6f0;border-radius: 0;">
                            <div class="card-body" th:text="${issue.detail}">
                            </div>
                        </div>

                        <div th:unless="${#sets.isEmpty(issueFileList)}" class="card py-3 m-3" style="border:1px solid #e3e6f0;border-radius: 0;">
                            <div class="card-body align-content-center text-center">
                                <th:block th:each="file, index : ${issueFileList}">
                                    <img onclick="showImagePopup(this);" th:name="${file.fileOriginalName}" th:if="${#strings.contains(file.fileType,'image')}" th:src="${file.imageSource}" th:alt="${file.fileName}" th:data-value="${file.fileId}" style="width:200px;height:200px;margin:1rem;object-fit:cover;border-radius: 10%;"/>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12 mb-4">
            <div class=" mb-4">
                <div class="col mr-2">
                    <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                        <a class="navbar-brand" href="#">조치 날짜</a>
                        <div class="navbar-navs">
                            <div class="nav-item dropdown">

                                <div class="datepicker">
                                    <input type="text" class="selected-check-date" id="datepicker-input">
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 mb-12">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <h5 class="h5 text-gray-800">조치 사항</h5>
                    <textarea class="form-control" id="detail_area" rows="10" style="width:100%;resize:none;" placeholder="내용을 입력해 주세요." th:text="${#sets.isEmpty(improve)?'':improve.detail}"></textarea>

                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 mb-12">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                    <h5 class="h5 text-gray-800">파일첨부
                    </h5>
                    <!-- We'll transform this input into a pond -->
                    <input type="file" class="filepond" name="filepond"/>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-6 mb-6">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-6 col-md-6 mb-6">
            <div class="align-items-center justify-content-between mb-4">
                <div class="col mr-2">

                    <a th:if="${#sets.isEmpty(improve)}" href="javaScript:checkData()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="display: block !important;"><i
                            class="fas fa-save fa-sm"></i>&nbsp저장</a>
                    <a th:unless="${#sets.isEmpty(improve)}" href="javaScript:checkData()" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm" style="display: block !important;"><i
                            class="fas fa-save fa-sm"></i>&nbsp수정</a>
                </div>
            </div>
        </div>

    </div>
    <script class="code-js">
    document.addEventListener("DOMContentLoaded", function() {
        // Date range picker init START
        var selectedimproveDate = new Date();
        if (document.getElementById("selected_improve_date").value) {
            selectedFromDate = new Date(document.getElementById("selected_improve_date").value);
        }
        var today = new Date();

        flatpickr(document.getElementById("datepicker-input"), {
            dateFormat: "Y-m-d",
            defaultDate: selectedimproveDate,
        });


        // Date range picker init END
        /**
         * ====================
         *      File Pond
         * ====================
         */
        //File Uploader (Filepond.js) set option Start
        FilePond.setOptions({
            server: {
                process: (fieldName, file, metadata, load, error, progress, abort, transfer, options) => {
                    // fieldName is the name of the input field
                    // file is the actual file object to send
                    const formData = new FormData();
                    formData.append("document_id", document.getElementById("improve_id").value);
                    formData.append("file", file);
                    const request = new XMLHttpRequest();
                    request.open('POST', '/file/upload');

                    // Should call the progress method to update the progress to 100% before calling load
                    // Setting computable to false switches the loading indicator to infinite mode
                    request.upload.onprogress = (e) => {
                        progress(e.lengthComputable, e.loaded, e.total);
                    };

                    // Should call the load method when done and pass the returned server file id
                    // this server file id is then used later on when reverting or restoring a file
                    // so your server knows which file to return without exposing that info to the client
                    request.onload = function () {
                        if (request.status >= 200 && request.status < 300) {
                            // the load method accepts either a string (id) or an object
                            var response = JSON.parse(request.response);
                            var file_id = response.data;
                            file.id = file_id;
                            load(request.responseText);
                        } else {
                            // Can call the error method if something is wrong, should exit after
                            error('oh no');
                        }
                    };

                    request.send(formData);

                    // Should expose an abort method so the request can be cancelled
                    return {
                        abort: () => {
                            // This function is entered if the user has tapped the cancel button
                            request.abort();

                            // Let FilePond know the request has been cancelled
                            abort();
                        },
                    };
                }, remove: (processResult, load, error) => {
                    // 'source' is the path of the file and should be sent to a server endpoint via http

                    console.log(processResult);
                    console.log(processResult.split('/')[3].trim())
                    const formData = new FormData();
                    formData.append("document_id", document.getElementById("improve_id").value);
                    formData.append("file_id", processResult.split('/')[3].trim());
                    const request = new XMLHttpRequest();
                    request.open('POST', '/file/delete');
                    // Should call the progress method to update the progress to 100% before calling load
                    // Setting computable to false switches the loading indicator to infinite mode

                    // Should call the load method when done and pass the returned server file id
                    // this server file id is then used later on when reverting or restoring a file
                    // so your server knows which file to return without exposing that info to the client
                    request.onload = function () {
                        if (request.status >= 200 && request.status < 300) {
                            // the load method accepts either a string (id) or an object
                            var response = JSON.parse(request.response);
                            alert(response.data);
                            console.log(response);

                            load(request.responseText);
                        } else {
                            // Can call the error method if something is wrong, should exit after
                            error('oh no');
                        }
                    };

                    request.send(formData);

                    // Should expose an abort method so the request can be cancelled
                    return {
                        abort: () => {
                            // This function is entered if the user has tapped the cancel button
                            request.abort();

                            // Let FilePond know the request has been cancelled
                            abort();
                        },
                    };
                    // call the load method before ending the function
                }, remove: (processResult, load, error) => {
                    // 'source' is the path of the file and should be sent to a server endpoint via http

                    console.log(processResult);
                    console.log(processResult.split('/')[3].trim())
                    const formData = new FormData();
                    formData.append("document_id", document.getElementById("improve_id").value);
                    formData.append("file_id", processResult.split('/')[3].trim());
                    const request = new XMLHttpRequest();
                    request.open('POST', '/file/delete');
                    // Should call the progress method to update the progress to 100% before calling load
                    // Setting computable to false switches the loading indicator to infinite mode

                    // Should call the load method when done and pass the returned server file id
                    // this server file id is then used later on when reverting or restoring a file
                    // so your server knows which file to return without exposing that info to the client
                    request.onload = function () {
                        if (request.status >= 200 && request.status < 300) {
                            // the load method accepts either a string (id) or an object
                            var response = JSON.parse(request.response);
                            alert(response.data);
                            console.log(response);

                            load(request.responseText);
                        } else {
                            // Can call the error method if something is wrong, should exit after
                            error('oh no');
                        }
                    };

                    request.send(formData);

                    // Should expose an abort method so the request can be cancelled
                    return {
                        abort: () => {
                            // This function is entered if the user has tapped the cancel button
                            request.abort();

                            // Let FilePond know the request has been cancelled
                            abort();
                        },
                    };
                    // call the load method before ending the function
                }
            }
            // 파일 올리는 즉시 업로드 끄기
            , instantUpload: false
            , allowImageExifOrientation: true
            , allowImagePreview: true
            , acceptedFileTypes: [
                'image/*'
            ]
            , allowProcess: false
            , maxParallelUploads: 10 // 한번에 올릴 수 있는 파일 개수
            , maxFiles: 10
            , maxTotalFileSize: "200MB"
            , allowMultiple: true
            , allowRemove: true
        });

    });
        // Select the file input and use
        // create() to turn it into a pond
        // filepond js 만들기
        FilePond.registerPlugin(FilePondPluginImagePreview, FilePondPluginImageExifOrientation, FilePondPluginFileValidateType);
        var fileUploader = FilePond.create(document.querySelector('.filepond'));
        // 등록된 파일 불러오는곳
        document.addEventListener('FilePond:init', function () {
            const documentId = document.getElementById("improve_id").value;
            const request = new XMLHttpRequest();
            request.open('GET', '/file/selectDocumentFiles?documentId=' + documentId);

            // Should call the progress method to update the progress to 100% before calling load
            // Setting computable to false switches the loading indicator to infinite mode
            request.upload.onprogress = (e) => {
                progress(e.lengthComputable, e.loaded, e.total);
            };

            // Should call the load method when done and pass the returned server file id
            // this server file id is then used later on when reverting or restoring a file
            // so your server knows which file to return without exposing that info to the client


            request.onload = function () {
                if (request.status >= 200 && request.status < 300) {
                    // the load method accepts either a string (id) or an object
                    var response = JSON.parse(request.response);
                    var code = response.status;
                    var files = response.data;
                    console.log(response);
                    console.log(files.length);
                    var file;
                    for (var j = 0; j < files.length; j++) {
                        console.log(files[j]);

                        fileUploader.addFile("/file/filedownload/" + files[j].fileId);
                        // 보여지는 파일 이름
                        fileUploader.getFiles()[0].file.name = files[j].fileOriginalName;
                        fileUploader.getFiles()[0].file.source = files[j].base64;
                        // 이미 업로드 된 파일 재업로드 안되도록
                        fileUploader.getFiles()[0].origin = 3;

                        console.log(fileUploader.getFiles());
                    }

                } else {
                    // Can call the error method if something is wrong, should exit after
                    alert('저장된 파일을 불러오는데 실패하였습니다.');
                }
            };

            request.send();

        }, {once: true});

        function checkData(){
            let detail = document.getElementById("detail_area").value;
            let selectedImproveDate = document.getElementById("datepicker-input").value;
            let isAdd = document.getElementById("isAdd").value === 'true';
            if(detail) {
                if (selectedImproveDate) {
                    fileUploader.processFiles().then(() => {
                        if(isAdd) writeImprove();
                        else editImprove();
                    });
                }else{
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "조치 날짜를 선택 해 주세요",
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            }else{
                Swal.fire({
                    position: "center",
                    icon: "error",
                    title: "내용을 입력해주세요",
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        }

        function writeImprove(){
            let issueId = document.getElementById("issue_id").value;
            let improveId = document.getElementById("improve_id").value;
            let detail = document.getElementById("detail_area").value;
            let improveDate = document.getElementById("datepicker-input").value;

            const formData = new FormData();
            formData.append("issueId", issueId);
            formData.append("improveId", improveId);
            formData.append("detail", detail);
            formData.append("improveDate", improveDate);

            /*[PUT] PUT DB single Inspection selection */
            const request = new XMLHttpRequest();
            request.open('post', '/works/issue/issue_view/improve_write');
            request.onload = function () {
                if (request.status >= 200 && request.status < 300) {
                    // the load method accepts either a string (id) or an object
                    var response = JSON.parse(request.response);
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "저장 성공",
                        showConfirmButton: false,
                        timer: 1500
                    }).then((result) => {
                        if(result.dismiss === Swal.DismissReason.timer){
                            location.href="/works/issue/issue_view?issueId="+issueId;
                        }
                    });

                } else {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "저장 실패",
                        showConfirmButton: false,
                        timer: 1500
                    }).then((result) => {
                        if(result.dismiss === Swal.DismissReason.timer){
                            location.reload();
                        }
                    });
                }

            }
            request.send(formData);
        }


        function editImprove(){
            let issueId = document.getElementById("issue_id").value;
            let improveId = document.getElementById("improve_id").value;
            let detail = document.getElementById("detail_area").value;
            let improveDate = document.getElementById("datepicker-input").value;


            const formData = new FormData();
            formData.append("improveId", improveId);
            formData.append("detail", detail);
            formData.append("improveDate", improveDate);

            /*[PUT] PUT DB single Inspection selection */
            const request = new XMLHttpRequest();
            request.open('post', '/works/issue/issue_view/improve_edit');
            request.onload = function () {
                if (request.status >= 200 && request.status < 300) {
                    // the load method accepts either a string (id) or an object
                    var response = JSON.parse(request.response);
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "수정 성공",
                        showConfirmButton: false,
                        timer: 1500
                    }).then((result) => {
                        if(result.dismiss === Swal.DismissReason.timer){
                            location.href="/works/issue/issue_view?issueId="+issueId;
                        }
                    });

                } else {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "수정 실패",
                        showConfirmButton: false,
                        timer: 1500
                    }).then((result) => {
                        if(result.dismiss === Swal.DismissReason.timer){
                            location.reload();
                        }
                    });
                }

            }
            request.send(formData);
        }

    </script>


</div>
</html>